@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&subset=cyrillic');

.first-box {
    width: 100%;
    height: 900px;
}

.first-box {
    width: 100%;
    height: 900px;
}

.first-box {
    width: 100%;
    height: 900px;
}

.first-box {
    width: 100%;
    height: 900px;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.question {
    font-size: 18px; 
    font-weight: 100;
}

.type_of_answers{
    padding-right: 10px;}

.question:first-child {
    font-weight: 700;   
}

br {
    height: 5px;
}

.card-panel {
    margin: 0 1rem 0;
}
